
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    label{
        color: black;

    input{
        border: 2px solid red;
    }
</style>

<body>
<div style="padding:2rem;">
    <div style="font-size: 18px; color:black; width: 33%; border-radius: 15px; padding:2rem; margin-left: 28%; background-color: rgba(163, 247, 111, .5)">
    <form method="post">
        {% csrf_token %}
    <label for="id_new_password1" style="margin-left: 3rem;">New password:</label>
        <br>
      <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" style="margin-left: 4rem; margin-top: .5rem; width: 15rem; height: 2rem">
        <span class="helptext" style="font-size: 16px;">
            <ul style="margin-left:-1rem;">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </span>

    <label for="id_new_password2" style="margin-left: 3rem;">New password confirmation:</label><br>
      <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" style="margin-left: 4rem; margin-top: .5rem; width: 15rem; height: 2rem">
      <br><br>
        <input type="submit" name="Update Password" style="margin-left: 9rem; padding: 6px 10px;">
        <br>
    </form>
        </div>
</div>
</body>
</html>