<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><center>
    <div style="background-color: lightblue; width: 10rem; margin:5rem; padding: 5rem;">
        <form method="POST">
            {% csrf_token %}
            <div class="container mt-5">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label><br>
                     <input type="email" class="form-control" id="email" name="email">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    </center>
</body>
</html>